SWB4/swb/SWBOpenSocial/src/org/semanticwb/opensocial/util/rss.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="2.0.2.16">
  <xs:annotation>
    <xs:documentation>XML Schema for RSS v2.0 feed files.</xs:documentation>
    <xs:documentation>Project home: http://www.codeplex.com/rss2schema/ </xs:documentation>
    <xs:documentation>Based on the RSS 2.0 specification document at http://cyber.law.harvard.edu/rss/rss.html </xs:documentation>
    <xs:documentation>Author: Jorgen Thelin</xs:documentation>
    <xs:documentation>Revision: 16</xs:documentation>
    <xs:documentation>Date: 01-Nov-2008</xs:documentation>
    <xs:documentation>Feedback to: http://www.codeplex.com/rss2schema/WorkItem/List.aspx </xs:documentation>
  </xs:annotation>
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel" type="RssChannel"/>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" fixed="2.0"/>
      <xs:anyAttribute namespace="##any"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RssItem">
    <xs:annotation>
      <xs:documentation>An item may represent a "story" -- much like a story in a newspaper or magazine; if so its description is a synopsis of the story, and the link points to the full story. An item may also be complete in itself, if so, the description contains the text (entity-encoded HTML is allowed), and the link and title may be omitted.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="title" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The title of the item.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="description" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The item synopsis.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="link" type="xs:anyURI" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The URL of the item.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="author" type="EmailAddress" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Email address of the author of the item.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="category" type="Category" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Includes the item in one or more categories. </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="comments" type="xs:anyURI" minOccurs="0">
          <xs:annotation>
            <xs:documentation>URL of a page for comments relating to the item.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enclosure" type="Enclosure" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Describes a media object that is attached to the item.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="guid" type="Guid" minOccurs="0">
          <xs:annotation>
            <xs:documentation>guid or permalink URL for this entry</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pubDate" type="Rfc822FormatDate" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Indicates when the item was published.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="source" type="Source" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The RSS channel that the item came from.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Extensibility element.</xs:documentation>
          </xs:annotation>
        </xs:any>
      </xs:choice>
    </xs:sequence>
    <xs:anyAttribute namespace="##any"/>
  </xs:complexType>
  <xs:complexType name="RssChannel">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="title" type="xs:string">
          <xs:annotation>
            <xs:documentation>The name of the channel. It's how people refer to your service. If you have an HTML website that contains the same information as your RSS file, the title of your channel should be the same as the title of your website.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="link" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>The URL to the HTML website corresponding to the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="description" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phrase or sentence describing the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="language" type="xs:language" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The language the channel is written in. This allows aggregators to group all Italian language sites, for example, on a single page. A list of allowable values for this element, as provided by Netscape, is here. You may also use values defined by the W3C.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="copyright" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Copyright notice for content in the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="managingEditor" type="EmailAddress" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Email address for person responsible for editorial content.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="webMaster" type="EmailAddress" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Email address for person responsible for technical issues relating to channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pubDate" type="Rfc822FormatDate" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The publication date for the content in the channel. All date-times in RSS conform to the Date and Time Specification of RFC 822, with the exception that the year may be expressed with two characters or four characters (four preferred).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="lastBuildDate" type="Rfc822FormatDate" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The last time the content of the channel changed.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="category" type="Category" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Specify one or more categories that the channel belongs to.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="generator" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A string indicating the program used to generate the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="docs" type="xs:anyURI" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A URL that points to the documentation for the format used in the RSS file. It's probably a pointer to this page. It's for people who might stumble across an RSS file on a Web server 25 years from now and wonder what it is.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cloud" type="Cloud" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Allows processes to register with a cloud to be notified of updates to the channel, implementing a lightweight publish-subscribe protocol for RSS feeds.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ttl" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>ttl stands for time to live. It's a number of minutes that indicates how long a channel can be cached before refreshing from the source.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="image" type="Image" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Specifies a GIF, JPEG or PNG image that can be displayed with the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="rating" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The PICS rating for the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="textInput" type="TextInput" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Specifies a text input box that can be displayed with the channel.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="skipHours" type="SkipHoursList" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A hint for aggregators telling them which hours they can skip.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="skipDays" type="SkipDaysList" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A hint for aggregators telling them which days they can skip.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Extensibility element.</xs:documentation>
          </xs:annotation>
        </xs:any>
      </xs:choice>
      <xs:element name="item" type="RssItem" minOccurs="1" maxOccurs="unbounded">
         <!--
           HACK: According to the RSS 2.0 spec, it should strictly be possible to have zero item elements,
                 but this makes the schema non-deterministic with regard to extensibility elements
                 so for the moment we undid bug-fix 10231 and set minOccurs=1 to work around this problem.
         -->
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Extensibility element.</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
    <xs:anyAttribute namespace="##any"/>
  </xs:complexType>
  <xs:simpleType name="SkipHour">
    <xs:annotation>
      <xs:documentation>A time in GMT when aggregators should not request the channel data. The hour beginning at midnight is hour zero.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="23"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SkipHoursList">
    <xs:sequence>
      <xs:element name="hour" type="SkipHour" minOccurs="0" maxOccurs="24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SkipDay">
    <xs:annotation>
      <xs:documentation>A day when aggregators should not request the channel data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Monday"/>
      <xs:enumeration value="Tuesday"/>
      <xs:enumeration value="Wednesday"/>
      <xs:enumeration value="Thursday"/>
      <xs:enumeration value="Friday"/>
      <xs:enumeration value="Saturday"/>
      <xs:enumeration value="Sunday"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SkipDaysList">
    <xs:sequence>
      <xs:element name="day" type="SkipDay" minOccurs="0" maxOccurs="7">
        <xs:annotation>
          <xs:documentation>A time in GMT, when aggregators should not request the channel data. The hour beginning at midnight is hour zero.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domain" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:all>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>The URL of the image file.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describes the image, it's used in the ALT attribute of the HTML &lt;img&gt; tag when the channel is rendered in HTML.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="link" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>The URL of the site, when the channel is rendered, the image is a link to the site. (Note, in practice the image &lt;title&gt; and &lt;link&gt; should have the same value as the channel's &lt;title&gt; and &lt;link&gt;. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="width" type="ImageWidth" default="88" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The width of the image in pixels.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="height" type="ImageHeight" default="31" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The height of the image in pixels.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Text that is included in the TITLE attribute of the link formed around the image in the HTML rendering.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="ImageHeight">
    <xs:annotation>
      <xs:documentation>The height of the image in pixels.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ImageWidth">
    <xs:annotation>
      <xs:documentation>The width of the image in pixels.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="144"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cloud">
    <xs:annotation>
      <xs:documentation>Specifies a web service that supports the rssCloud interface which can be implemented in HTTP-POST, XML-RPC or SOAP 1.1. Its purpose is to allow processes to register with a cloud to be notified of updates to the channel, implementing a lightweight publish-subscribe protocol for RSS feeds.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="domain" type="xs:string" use="required"/>
    <xs:attribute name="port" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="registerProcedure" type="xs:string" use="required"/>
    <xs:attribute name="protocol" type="CloudProtocol" use="required"/>
  </xs:complexType>
  <xs:simpleType name="CloudProtocol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="xml-rpc"/>
      <xs:enumeration value="http-post"/>
      <xs:enumeration value="soap"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TextInput">
    <xs:annotation>
      <xs:documentation>The purpose of this element is something of a mystery! You can use it to specify a search engine box. Or to allow a reader to provide feedback. Most aggregators ignore it.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="title" type="xs:string">
        <xs:annotation>
          <xs:documentation>The label of the Submit button in the text input area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Explains the text input area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of the text object in the text input area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="link" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>The URL of the CGI script that processes text input requests.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="EmailAddress">
    <xs:annotation>
      <xs:documentation>Using the regexp definiton of E-Mail Address by Lucadean from the .NET RegExp Pattern Repository at http://www.3leaf.com/default/NetRegExpRepository.aspx </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Rfc822FormatDate">
    <xs:annotation>
      <xs:documentation>A date-time displayed in RFC-822 format.</xs:documentation>
      <xs:documentation>Using the regexp definiton of rfc-822 date by Sam Ruby at http://www.intertwingly.net/blog/1360.html </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(((Mon)|(Tue)|(Wed)|(Thu)|(Fri)|(Sat)|(Sun)), *)?\d\d? +((Jan)|(Feb)|(Mar)|(Apr)|(May)|(Jun)|(Jul)|(Aug)|(Sep)|(Oct)|(Nov)|(Dec)) +\d\d(\d\d)? +\d\d:\d\d(:\d\d)? +(([+\-]?\d\d\d\d)|(UT)|(GMT)|(EST)|(EDT)|(CST)|(CDT)|(MST)|(MDT)|(PST)|(PDT)|\w)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Source">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="url" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Enclosure">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="url" type="xs:anyURI" use="required">
          <xs:annotation>
            <xs:documentation>URL where the enclosure is located</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="length" type="xs:nonNegativeInteger" use="required">
          <xs:annotation>
            <xs:documentation>Size in bytes</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>MIME media-type of the enclosure</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Guid">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="isPermaLink" type="xs:boolean" use="optional" default="true"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  </xs:schema>