SWB4/swb/SWBAdmin/src/swbadmin/schema/admresource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="admresource">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="xslfile"/>
                <xs:element ref="statictext"/>
                <xs:element ref="form"/>
                <xs:element ref="script"/>
                <xs:element ref="applet"/>
                <xs:element ref="object"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="xslfile" type="xs:string"/>
    <xs:element name="statictext">
        <xs:complexType mixed="true">
            <xs:attribute name="name" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="form">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="statictext"/>
                <xs:element ref="wbmsg"/>
                <xs:element ref="admdbconnmgr"/>
                <xs:element ref="label"/>
                <xs:element ref="input"/>
                <xs:element ref="select"/>
                <xs:element ref="div"/>
                <xs:element ref="fieldset"/>
                <xs:element ref="textarea"/>
                <xs:element ref="img"/>
                <xs:element ref="map"/>
                <xs:element ref="applet"/>
                <xs:element ref="object"/>
                <xs:element ref="calendar"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="dir">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="ltr"/>
                        <xs:enumeration value="rtl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="action" type="xs:string"/>
            <xs:attribute name="method" default="GET">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="GET"/>
                        <xs:enumeration value="POST"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="enctype" type="xs:string" default="application/x-www-form-urlencoded"/>
            <xs:attribute name="accept" type="xs:string"/>
            <xs:attribute name="accept-charset" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
            <xs:attribute name="onsubmit" type="xs:string"/>
            <xs:attribute name="onreset" type="xs:string"/>
        <xs:attribute name="jsframework" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="div">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="fieldset"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="open" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="fieldset">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="statictext"/>
                <xs:element ref="wbmsg"/>
                <xs:element ref="admdbconnmgr"/>
                <xs:element ref="label"/>
                <xs:element ref="input"/>
                <xs:element ref="select"/>
                <xs:element ref="fieldset"/>
                <xs:element ref="textarea"/>
                <xs:element ref="img"/>
                <xs:element ref="map"/>
                <xs:element ref="applet"/>
                <xs:element ref="object"/>
                <xs:element ref="calendar"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="dir">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="ltr"/>
                        <xs:enumeration value="rtl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="action" type="xs:string"/>
            <xs:attribute name="method" default="GET">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="GET"/>
                        <xs:enumeration value="POST"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="enctype" type="xs:string" default="application/x-www-form-urlencoded"/>
            <xs:attribute name="accept" type="xs:string"/>
            <xs:attribute name="accept-charset" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
            <xs:attribute name="onsubmit" type="xs:string"/>
            <xs:attribute name="onreset" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="wbmsg" type="xs:string"/>
    <xs:element name="admdbconnmgr">
        <xs:complexType>
            <xs:attribute name="conname" type="xs:string"/>
            <xs:attribute name="tablename" type="xs:string"/>
            <xs:attribute name="fieldname" type="xs:string"/>
            <xs:attribute name="fieldwhere" type="xs:string"/>
            <xs:attribute name="defconn">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="label">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="input"/>
                <xs:element ref="select"/>
                <xs:element ref="option"/>
                <xs:element ref="textarea"/>
                <xs:element ref="img"/>
                <xs:element ref="applet"/>
                <xs:element ref="object"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="input">
        <xs:complexType>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="dir">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="ltr"/>
                        <xs:enumeration value="rtl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="TEXT"/>
                        <xs:enumeration value="PASSWORD"/>
                        <xs:enumeration value="CHECKBOX"/>
                        <xs:enumeration value="RADIO"/>
                        <xs:enumeration value="SUBMIT"/>
                        <xs:enumeration value="RESET"/>
                        <xs:enumeration value="FILE"/>
                        <xs:enumeration value="HIDDEN"/>
                        <xs:enumeration value="IMAGE"/>
                        <xs:enumeration value="BUTTON"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
            <xs:attribute name="promptMessage" type="xs:string"/>
            <xs:attribute name="invalidMessage" type="xs:string"/>
            <xs:attribute name="trim">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="regExp" type="xs:string"/>
            <xs:attribute name="checked">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="disabled">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="readonly">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="autocomplete">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="size" type="xs:string"/>
            <xs:attribute name="maxlength" type="xs:string"/>
            <xs:attribute name="accept" type="xs:string"/>
            <xs:attribute name="src" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="border" type="xs:string"/>
            <xs:attribute name="width" type="xs:integer"/>
            <xs:attribute name="height" type="xs:integer"/>
            <xs:attribute name="hspace" type="xs:string"/>
            <xs:attribute name="vspace" type="xs:string"/>
            <xs:attribute name="usemap" type="xs:string"/>
            <xs:attribute name="ismap">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showfile">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="msg" type="xs:string"/>
            <xs:attribute name="filetype" type="xs:string"/>
            <xs:attribute name="isshowfiletype">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="isremovefile">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="replace">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showmsg" type="xs:string"/>
            <xs:attribute name="editmsg" type="xs:string"/>
            <xs:attribute name="removemsg" type="xs:string"/>
            <xs:attribute name="bydefault" type="xs:string"/>
            <xs:attribute name="msgbydefault" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="minsize" type="xs:string"/>
            <xs:attribute name="jspatron" type="xs:string"/>
            <xs:attribute name="isshowpatron ">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="jsvalidchars" type="xs:string"/>
            <xs:attribute name="isvalidchars">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="isshowchars">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="jsrequired">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="jsvaltype">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="js_alphabetic"/>
                        <xs:enumeration value="js_numbers"/>
                        <xs:enumeration value="js_email"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="cut">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typefile" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
            <xs:attribute name="onfocus" type="xs:string"/>
            <xs:attribute name="onblur" type="xs:string"/>
            <xs:attribute name="onselect" type="xs:string"/>
            <xs:attribute name="onchange" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="textarea">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:ID"/>
                    <xs:attribute name="class" type="xs:string"/>
                    <xs:attribute name="style" type="xs:string"/>
                    <xs:attribute name="title" type="xs:string"/>
                    <xs:attribute name="lang" type="xs:NMTOKEN"/>
                    <xs:attribute name="dir">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="ltr"/>
                                <xs:enumeration value="rtl"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="tabindex" type="xs:string"/>
                    <xs:attribute name="accesskey">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="promptMessage" type="xs:string"/>
                    <xs:attribute name="invalidMessage" type="xs:string"/>
                    <xs:attribute name="trim">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="regExp" type="xs:string"/>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="label" type="xs:string"/>
                    <xs:attribute name="rows" type="xs:string" use="required"/>
                    <xs:attribute name="cols" type="xs:string" use="required"/>
                    <xs:attribute name="disabled">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="readonly">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="wrap">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="off"/>
                                <xs:enumeration value="virtual"/>
                                <xs:enumeration value="physical"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="jspatron" type="xs:string"/>
                    <xs:attribute name="isshowpatron ">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="moreattr" type="xs:string"/>
                    <xs:attribute name="minsize" type="xs:string"/>
                    <xs:attribute name="jsvalidchars" type="xs:string"/>
                    <xs:attribute name="isvalidchars">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="isshowchars">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="jsrequired">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="jsvaltype">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="js_alphabetic"/>
                                <xs:enumeration value="js_numbers"/>
                                <xs:enumeration value="js_email"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="onclick" type="xs:string"/>
                    <xs:attribute name="ondblclick" type="xs:string"/>
                    <xs:attribute name="onmousedown" type="xs:string"/>
                    <xs:attribute name="onmouseup" type="xs:string"/>
                    <xs:attribute name="onmouseover" type="xs:string"/>
                    <xs:attribute name="onmousemove" type="xs:string"/>
                    <xs:attribute name="onmouseout" type="xs:string"/>
                    <xs:attribute name="onkeypress" type="xs:string"/>
                    <xs:attribute name="onkeydown" type="xs:string"/>
                    <xs:attribute name="onkeyup" type="xs:string"/>
                    <xs:attribute name="onfocus" type="xs:string"/>
                    <xs:attribute name="onblur" type="xs:string"/>
                    <xs:attribute name="onselect" type="xs:string"/>
                    <xs:attribute name="onchange" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="select">
        <xs:complexType>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="option"/>
                        <xs:element ref="label"/>
                </xs:choice>
                <xs:attribute name="id" type="xs:ID"/>
                <xs:attribute name="class" type="xs:string"/>
                <xs:attribute name="style" type="xs:string"/>
                <xs:attribute name="title" type="xs:string"/>
                <xs:attribute name="invalidMessage" type="xs:string"/>
                <xs:attribute name="lang" type="xs:NMTOKEN"/>
                <xs:attribute name="dir">
                        <xs:simpleType>
                                <xs:restriction base="xs:NMTOKEN">
                                        <xs:enumeration value="ltr"/>
                                        <xs:enumeration value="rtl"/>
                                </xs:restriction>
                        </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="tabindex" type="xs:string"/>
                <xs:attribute name="accesskey">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:length value="1"/>
                          </xs:restriction>
                        </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="label" type="xs:string"/>
                <xs:attribute name="size" type="xs:string"/>
                <xs:attribute name="multiple">
                        <xs:simpleType>
                                <xs:restriction base="xs:NMTOKEN">
                                        <xs:enumeration value="true"/>
                                        <xs:enumeration value="false"/>
                                </xs:restriction>
                        </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="disabled">
                        <xs:simpleType>
                                <xs:restriction base="xs:NMTOKEN">
                                        <xs:enumeration value="true"/>
                                        <xs:enumeration value="false"/>
                                </xs:restriction>
                        </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="moreattr" type="xs:string"/>
                <xs:attribute name="dbconnload" type="xs:string"/>
                <xs:attribute name="keyload" type="xs:string"/>
                <xs:attribute name="titleload" type="xs:string"/>
                <xs:attribute name="fromload" type="xs:string"/>
                <xs:attribute name="whereload" type="xs:string"/>
                <xs:attribute name="onclick" type="xs:string"/>
                <xs:attribute name="ondblclick" type="xs:string"/>
                <xs:attribute name="onmousedown" type="xs:string"/>
                <xs:attribute name="onmouseup" type="xs:string"/>
                <xs:attribute name="onmouseover" type="xs:string"/>
                <xs:attribute name="onmousemove" type="xs:string"/>
                <xs:attribute name="onmouseout" type="xs:string"/>
                <xs:attribute name="onkeypress" type="xs:string"/>
                <xs:attribute name="onkeydown" type="xs:string"/>
                <xs:attribute name="onkeyup" type="xs:string"/>
                <xs:attribute name="onfocus" type="xs:string"/>
                <xs:attribute name="onblur" type="xs:string"/>
                <xs:attribute name="onchange" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="option">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                        <xs:attribute name="id" type="xs:ID"/>
                        <xs:attribute name="class" type="xs:string"/>
                        <xs:attribute name="style" type="xs:string"/>
                        <xs:attribute name="title" type="xs:string"/>
                        <xs:attribute name="lang" type="xs:NMTOKEN"/>
                        <xs:attribute name="dir">
                                <xs:simpleType>
                                        <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="ltr"/>
                                                <xs:enumeration value="rtl"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="label" type="xs:string"/>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="selected">
                                <xs:simpleType>
                                        <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="true"/>
                                                <xs:enumeration value="false"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="disabled">
                                <xs:simpleType>
                                        <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="true"/>
                                                <xs:enumeration value="false"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="onclick" type="xs:string"/>
                        <xs:attribute name="ondblclick" type="xs:string"/>
                        <xs:attribute name="onmousedown" type="xs:string"/>
                        <xs:attribute name="onmouseup" type="xs:string"/>
                        <xs:attribute name="onmouseover" type="xs:string"/>
                        <xs:attribute name="onmousemove" type="xs:string"/>
                        <xs:attribute name="onmouseout" type="xs:string"/>
                        <xs:attribute name="onkeypress" type="xs:string"/>
                        <xs:attribute name="onkeydown" type="xs:string"/>
                        <xs:attribute name="onkeyup" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="img">
        <xs:complexType>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="label" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
            <xs:attribute name="disabled">
                    <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="true"/>
                                    <xs:enumeration value="false"/>
                            </xs:restriction>
                    </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="src" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="border" type="xs:string"/>
            <xs:attribute name="width" type="xs:string"/>
            <xs:attribute name="height" type="xs:string"/>
            <xs:attribute name="hspace" type="xs:string"/>
            <xs:attribute name="vspace" type="xs:string"/>
            <xs:attribute name="usemap" type="xs:string"/>
            <xs:attribute name="ismap">
                    <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="true"/>
                                    <xs:enumeration value="false"/>
                            </xs:restriction>
                    </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
            <xs:attribute name="onfocus" type="xs:string"/>
            <xs:attribute name="onblur" type="xs:string"/>
            <xs:attribute name="onselect" type="xs:string"/>
            <xs:attribute name="onchange" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="applet">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="param"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="1"/>
                  </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
            <xs:attribute name="declare">
                <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="declare"/>
                        </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="classid" type="xs:string"/>
            <xs:attribute name="code" type="xs:string"/>
            <xs:attribute name="codebase" type="xs:string"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="codetype" type="xs:string"/>
            <xs:attribute name="archive" type="xs:string"/>
            <xs:attribute name="standby" type="xs:string"/>
            <xs:attribute name="border" type="xs:string"/>
            <xs:attribute name="width" type="xs:string"/>
            <xs:attribute name="height" type="xs:string"/>
            <xs:attribute name="hspace" type="xs:string"/>
            <xs:attribute name="vspace" type="xs:string"/>
            <xs:attribute name="usemap" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="object">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="param"/>
                <xs:element ref="embed"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="1"/>
                  </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
            <xs:attribute name="declare">
                <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="declare"/>
                        </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="classid" type="xs:string"/>
            <xs:attribute name="codebase" type="xs:string"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="codetype" type="xs:string"/>
            <xs:attribute name="archive" type="xs:string"/>
            <xs:attribute name="standby" type="xs:string"/>
            <xs:attribute name="border" type="xs:string"/>
            <xs:attribute name="width" type="xs:string"/>
            <xs:attribute name="height" type="xs:string"/>
            <xs:attribute name="hspace" type="xs:string"/>
            <xs:attribute name="vspace" type="xs:string"/>
            <xs:attribute name="usemap" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:complexType>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string"/>
            <xs:attribute name="valuetype" default="DATA">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="DATA"/>
                        <xs:enumeration value="REF"/>
                        <xs:enumeration value="OBJECT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="input" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="embed">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="src" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="width" type="xs:string"/>
            <xs:attribute name="height" type="xs:string"/>
            <xs:attribute name="align">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="absbottom"/>
                        <xs:enumeration value="absmiddle"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="texttop"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="baseline"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="bottom"/>
                        <xs:enumeration value="top"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pluginspage" type="xs:string"/>
            <xs:attribute name="pluginurl" type="xs:string"/>
            <xs:attribute name="hidden">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" type="xs:string"/>
            <xs:attribute name="target" type="xs:string"/>
            <xs:attribute name="autostart">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loop" type="xs:string"/>
            <xs:attribute name="playcount" type="xs:integer"/>
            <xs:attribute name="volume" type="xs:string"/>
            <xs:attribute name="controls">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="volumelever"/>
                        <xs:enumeration value="stopbutton"/>
                        <xs:enumeration value="pausebutton"/>
                        <xs:enumeration value="playbutton"/>
                        <xs:enumeration value="smallconsole"/>
                        <xs:enumeration value="console"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="controller">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="mastersound">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="mastersound"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="starttime" type="xs:string"/>
            <xs:attribute name="endtime" type="xs:string"/>
            <xs:attribute name="quality" type="xs:string"/>
            <xs:attribute name="bgcolor" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="map">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="area"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="area">
        <xs:complexType>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="shape">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="rect"/>
                        <xs:enumeration value="circle"/>
                        <xs:enumeration value="poly"/>
                        <xs:enumeration value="default"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="coords" type="xs:string"/>
            <xs:attribute name="href" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
            <xs:attribute name="onfocus" type="xs:string"/>
            <xs:attribute name="onblur" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="calendar">
        <xs:complexType>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="lang" type="xs:NMTOKEN"/>
            <xs:attribute name="tabindex" type="xs:string"/>
            <xs:attribute name="accesskey">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="label" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
            <xs:attribute name="disabled">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="readonly">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="size" type="xs:string"/>
            <xs:attribute name="maxlength" type="xs:string"/>
            <xs:attribute name="src" type="xs:string"/>
            <xs:attribute name="align" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="border" type="xs:string"/>
            <xs:attribute name="width" type="xs:string"/>
            <xs:attribute name="height" type="xs:string"/>
            <xs:attribute name="hspace" type="xs:string"/>
            <xs:attribute name="vspace" type="xs:string"/>
            <xs:attribute name="script" type="xs:string"/>
            <xs:attribute name="language" type="xs:string"/>
            <xs:attribute name="moreattr" type="xs:string"/>
            <xs:attribute name="onclick" type="xs:string"/>
            <xs:attribute name="ondblclick" type="xs:string"/>
            <xs:attribute name="onmousedown" type="xs:string"/>
            <xs:attribute name="onmouseup" type="xs:string"/>
            <xs:attribute name="onmouseover" type="xs:string"/>
            <xs:attribute name="onmousemove" type="xs:string"/>
            <xs:attribute name="onmouseout" type="xs:string"/>
            <xs:attribute name="onkeypress" type="xs:string"/>
            <xs:attribute name="onkeydown" type="xs:string"/>
            <xs:attribute name="onkeyup" type="xs:string"/>
            <xs:attribute name="onfocus" type="xs:string"/>
            <xs:attribute name="onblur" type="xs:string"/>
            <xs:attribute name="onselect" type="xs:string"/>
            <xs:attribute name="onchange" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="script">
        <xs:complexType mixed="true">
            <xs:attribute name="language" type="xs:string"/>
            <xs:attribute name="src" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>